/* Mixins =================================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
  display: inline;
  zoom: 1;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html, button, input, select, textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

p, pre {
  margin: 1em 0;
}

code, kbd, pre, samp {
  font-family: monospace,serif;
  _font-family: 'courier new',monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before, q:after {
  content: '';
  content: none;
}

small {
  font-size: 75%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

dl, menu, ol, ul {
  margin: 1em 0;
}

dd {
  margin: 0 0 0 40px;
}

menu, ol, ul {
  padding: 0;
}

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  margin-left: -7px;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  vertical-align: middle;
}

button, input {
  line-height: normal;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  overflow: visible;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  height: 13px;
  width: 13px;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

div,
section, header, nav, aside, footer,
ul {
  zoom: 1;
}
div:before, div:after,
section:before,
section:after, header:before, header:after, nav:before, nav:after, aside:before, aside:after, footer:before, footer:after,
ul:before,
ul:after {
  display: table;
  content: "";
}
div:after,
section:after, header:after, nav:after, aside:after, footer:after,
ul:after {
  clear: both;
}

html, body {
  height: 100%;
}

html {
  font-size: 100%;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  color: #555555;
}

a {
  text-decoration: none;
  color: #00d4da;
}
a:visited {
  color: #00edf3;
}
a:hover {
  text-decoration: underline;
  color: #00bbc1;
}
a:focus {
  outline: thin dotted;
  color: #00bbc1;
}
a:hover, a:active {
  outline: 0;
}

::-moz-selection {
  background-color: #969696;
  color: #222222;
  text-shadow: none;
}

::selection {
  background-color: #969696;
  color: #222222;
  text-shadow: none;
}

h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  margin: 0 0 16px;
  margin: 0 0 1rem;
  font-size: 16px;
  font-size: 1rem;
  font-family: inherit;
  font-weight: bold;
  text-rendering: optimizelegibility;
}

h1,
h1 a {
  font-family: adelle, "Helvetica Neue", Arial, sans-serif;
  font-size: 48px;
  font-size: 3rem;
}

h2,
h2 a {
  font-size: 32px;
  font-size: 2rem;
}

h3,
h3 a {
  font-size: 24px;
  font-size: 1.5rem;
}

h4,
h4 a {
  margin-bottom: 0;
}

h5,
h5 a, h6, h6 a {
  margin-bottom: 0;
}

p {
  margin: 0;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}
p :last-of-type {
  margin-bottom: 0;
}

ins {
  text-decoration: none;
}

img {
  height: auto;
  border: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: transparent;
}

body {
  font-size: 14px;
  font-size: 0.875rem;
}

.loading-general {
  width: 100%;
  text-align: center;
  padding: 2em 2em;
  color: #ABABAB;
  vertical-align: middle;
  height: 100%;
  line-height: 100%;
}
.loading-general span {
  padding: 10px 5px 10px 40px;
  background: transparent url("images/loading.gif") center left no-repeat;
  vertical-align: middle;
  height: 100%;
  line-height: 100%;
}

.application-container {
  max-width: 1280px;
  margin: 0 auto;
}

.category-image {
  vertical-align: top;
  zoom: 1;
  display: inline;
}

.categories-container ul {
  margin-bottom: 2em;
  padding: 0;
}
.categories-container ul h3 {
  margin-bottom: .25em;
}
.categories-container li {
  padding: 16px;
  padding: 1rem;
  display: block;
  background-color: #eeeeee;
  list-style: none;
  text-align: center;
}

.category-list {
  margin-left: -2%;
}
.category-list li {
  margin-bottom: 16px;
  margin-bottom: 1rem;
}
.category-list a {
  display: block;
}
.category-list .category-image {
  display: block;
  margin: 0 auto;
  opacity: .85;
  filter: alpha(opacity=85);
  zoom: 1;
  display: block;
}
.category-list .category-image:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

@media screen and (min-width: 600px) {
  .category-list li {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 48%;
    margin: 0 0 2%;
    margin-left: 2%;
    display: block;
    float: left;
    list-style: none;
    text-align: center;
  }
  .category-list li:nth-child(2n+3) {
    clear: both;
  }
  .category-list li:nth-child(2n+3) {
    clear: both;
  }
}
@media screen and (min-width: 767px) {
  .category-list li {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 31.33333%;
    margin: 0 0 2%;
    margin-left: 2%;
  }
  .category-list li:nth-child(3n+4) {
    clear: both;
  }
  .category-list li:nth-child(3n+4) {
    clear: both;
  }
  .category-list li:nth-child(2n+3) {
    clear: none;
  }
}
@media screen and (min-width: 1024px) {
  .category-list li {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 23%;
    margin: 0 0 2%;
    margin-left: 2%;
  }
  .category-list li:nth-child(4n+5) {
    clear: both;
  }
  .category-list li:nth-child(4n+5) {
    clear: both;
  }
  .category-list li:nth-child(3n+4) {
    clear: none;
  }
}
.nav-categories {
  margin-bottom: 32px;
  margin-bottom: 2rem;
  background: #dafeff;
}
.nav-categories a {
  margin-right: 1em;
  line-height: 3em;
}
.nav-categories a:first-of-type {
  margin-left: 1em;
}

.category-container header .category-image {
  float: left;
  margin-right: 16px;
  margin-right: 1rem;
  max-width: 50px;
}
