a.permalink {
	font-size: .5em;
	background: transparent url('images/link-16x8-black.png') center right no-repeat;
	height: 8px;
	width: 16px;
	display: -moz-inline-stack;
	display: inline-block;
	margin-left: .5em;
	@include old-ie {
		zoom: 1;
		display: inline;
	}
}

.number {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.loading-general {
	width: 100%;
	text-align: center;
	padding: 2em 2em;
	color: #ABABAB;
	vertical-align: middle;
	height: 100%;
	line-height: 100%;
	span {
		padding: 10px 5px 10px 40px;
		background: transparent url('images/loading.gif') center left no-repeat;
		vertical-align: middle;
		height: 100%;
		line-height: 100%;
	}
}

// General styles

// Headers

.ls-header-container {
	color: #414141;
	margin-bottom: 1em;
	width: 100%;
}

.ls-header {
	border-bottom: 1px solid #BCBCBC;
	padding: 1em 0 .5em 0;
	min-height: 1.5em;
}

.ls-header.glued {
	position: fixed;
	top: 0;
	background-color: #FFFFFF;
	padding-left: .5em;
	padding-right: .5em;
	z-index: 999;
	width: 942px;
	border-left: 1px solid #BCBCBC;
	border-right: 1px solid #BCBCBC;
	-webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
}

.ls-header img {
	max-height: 1em;
	margin-right: .25em;
}

// Category styles

.category-image {
	max-height: 2em;
	margin-left: .5em;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	@include old-ie {
		zoom: 1;
		display: inline;
	}
}

h2 .category-image {
	margin-left: 0;
	margin-right: .25em;
}

// Bill styles

.bill h3 {
	margin-bottom: 0;
	margin-top: 0;
}
.bill .e-bill-categories {
	margin-bottom: 1em;
	color: #575757;
}
.bill .description,
.bill .latest-action {
	margin-bottom: 1em;
}
.bill .bill-update {
	font-size: .85em;
}

.bill-expand {
	display: inline-block;
	font-weight: bold;
}

.expanded .bill-expand {
	margin-bottom: 1em;
}

.is-expandable .bill-bottom {
	display: none;
}

.is-expandable .bill-top {
	margin-bottom: 0;
}

.bill-top {
	margin-bottom: 1.5em;
}
.bill-updated,
.actions,
.sponsors,
.sources,
.e-links,
.votes,
.custom-events {
	margin-bottom: 1em;
}

.bills-list .bill {
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #BBBBBB;
}

.bills-list .bill.is-expandable {
	border: 1px solid #DDDDDD;
	padding: 2.5%;
}

.bills-list .bill.no-bill{
	border: 1px dashed #DDDDDD;
}

.primary-bill {
	width: 100%;
	float: none;
}
.primary-bill.with-companion,
.companion-bill {
	width: 50%;
	float: left;
}

.actions-inner {
	font-size: .85em;
}

.co-sponsors-inner {

}

.actions-inner,
.co-sponsors-inner {
	border: 1px solid #EBEBEB;
	-moz-box-shadow: 0px 6px 4px -4px rgba(50, 50, 50, .3);
	-webkit-box-shadow: 0px 6px 4px -4px rgba(50, 50, 50, .3);
	box-shadow: 0px 6px 4px -4px rgba(50, 50, 50, .3);
	padding: .25em .75em;
}

.primary-bill-inner,
.companion-bill-inner {
	margin-right: 1.5em;
}

ul.e-links-list {
	padding-left: 0;
}
ul.e-links-list li {
	list-style: none;
}

.bill .bill-details-link,
.bill .latest-action-label {
	display: none;
}

// Sources

.sources a {
	font-size: .75em;
}

// Votes

.votes .votes-inner {
	font-size: .85em;
}

// Bill description

.bill .description .ellipsis-ellipsis {
	display: none;
}
.bill.is-expandable .description .ellipsis-ellipsis {
	display: inline;
}
.bill.is-expandable.expanded .description .ellipsis-ellipsis {
	display: none;
}

.bill.is-expandable .description .ellipsis-end {
	display: none;
}
.bill.is-expandable.expanded .description .ellipsis-end {
	display: inline;
}

.bill.is-expandable .description .ellipsis-start p {
	display: inline;
}
.bill.is-expandable.expanded .description .ellipsis-start p {
	display: block;
}

.bill .description .ellipsis-start p:last-child {
	margin-bottom: 1em;
}
.bill.is-expandable .description .ellipsis-start p:last-child {
	margin-bottom: 0;
}
.bill.is-expandable.expanded .description .ellipsis-start p:last-child {
	margin-bottom: 1em;
}


// Bill sponsors/legislators styles

.sponsors .sponsor {
	width: 25%;
	float: left;
	font-size: .85em;
}
.with-companion .sponsors .sponsor,
.companion-bill .sponsors .sponsor {
	width: 50%;
	float: left;
	font-size: .85em;
}
.legislator img {
	max-height: 75px;
	float: left;
	margin: 0 .5em 1em 0;
	-moz-border-bottom-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

// Bill progress styles

.bill-status {
	margin-bottom: 1em;
	text-align: right;
	float: right;
}
.bill-status img {
	max-height: 2em;
	margin-right: .5em;
	opacity: .25;
	filter: alpha(opacity = 25);
}
.bill-status img.passed {
	opacity: 1;
	filter: alpha(opacity = 100);
}

// Conference bill styles

.has-conference-bill {
	display: none;
}

/* My Shit */

.list--unstyled {
	list-style: none;
}

.application-container {
	max-width: 1280px;
	margin: 0 auto;
}

.category-inner h3 {
	padding-top: 0.5em;
	border-top: 8px solid #ddd;
}