<% if (!expandable) { %>
	<%= header %>
<% } %>
<section class="bill ebill <% if (expandable) { %>is-expandable<% } %> <% if (!bill.hasBill) { %>no-bill<% } %>">

	<div class="bill-top">

		<section class="bill-summary">
		
			<% if (expandable) { %><h3><% } else { %><h2><% } %>
				<%= bill.title %>
				<a class="permalink" title="Permanent link to bill" href="#/bill/<%= encodeURI(bill.bill) %>"></a>
			<% if (expandable) { %></h3><% } else { %></h2><% } %>
			
			<% if (!bill.hasBill){ %>
				<div class="latest-action">
					<em>This bill has not been tracked by the legislature yet.</em>
				</div>
			<% } %>
			
			<div class="bill-description">
				<% if (bill.description.indexOf('<p') < 3) { %>
					<%= _.ellipsisText(bill.description, 60) %>
				<% } else { %>
					<p><%= _.ellipsisText(bill.description, 60) %></p>
				<% } %>
			</div>
			
			<div class="bill-categories">
				<strong>Categories:</strong>
				<% _.each(bill.categories, function(c, i) { %>
					<a href="#/category/<%= c.get('id') %>">
						<%= c.get('title') %></a><% if (i < bill.categories.length - 1) { %>,<% } %>
				<% }) %>
			</div>

		</section>

		<aside class="bill-status">
			
			<div class="bill-status-indicators">

				<div class="indicator">

					<span>
					<%= LT.utils.translate('chamber', 'lower') %>
					<% if (bill.actions && bill.actions.lower) { 
						%><img class="lower" src="<%= LT.options.imagePath %>bill-passed.png" title="Passed by <%= LT.utils.translate('chamber', 'lower') %>" />
					<% } else { %>
						<img class="lower" src="<%= LT.options.imagePath %>bill-notPassed.png" title="Not Passed by <%= LT.utils.translate('chamber', 'lower') %>" />
					<% } %>
					</span>

					<span>
					<%= LT.utils.translate('chamber', 'upper') %>
					<% if (bill.actions && bill.actions.upper) { %>
						<img class="upper" src="<%= LT.options.imagePath %>bill-passed.png" title="Passed by <%= LT.utils.translate('chamber', 'upper') %>" />
					<% } else { %>
						<img class="upper" src="<%= LT.options.imagePath %>bill-notPassed.png" title="Not Passed by <%= LT.utils.translate('chamber', 'upper') %>" />
					<% } %>
					</span>

					<span>
					Signed 
					<% if (bill.actions && bill.actions.signed) { %>
						<img class="signed" src="<%= LT.options.imagePath %>bill-passed.png" title="Signed into law by the Governor" />
					<% } else { %>
						<img class="signed" src="<%= LT.options.imagePath %>bill-notPassed.png" title="Not signed into law by the Governor" />
					<% } %>
					</span>

				</div>
				
			</div>
			<% if (bill.newest_action) { %>
				<div class="bill-latest-action">
					Last action <%= bill.newest_action.date.fromNow() %>.
				</div>
			<% } %>

		</aside>

	</div>

	<% if (expandable && !(!bill.hasBill && bill.description.split(' ').length < 60 && !(_.isArray(bill.links) && bill.links.length > 0))) { %>
		<a href="#" class="bill-expand">More detail</a>
		<!-- <a href="#/bill/<%= encodeURI(bill.bill) %>" class="bill-details-link">More detail</a> -->
	<% } %>
	
	<div class="bill-bottom">

		<% if (_.isArray(bill.links) && bill.links.length > 0) { %>
			<div class="bill-news-links">
				<h4>In the news</h4>
				<ul>
					<% _.each(bill.links, function(l) { %>
						<li><a href="<%= l.url %>"><%= l.title %></a></li>
					<% }) %>
				</ul>
			</div>
		<% } %>
		
		<% if (_.isArray(bill.custom_events) && bill.custom_events.length > 0) { %>
			<div class="custom-events">
				<h4>Events</h4>
				<ul class="custom-events-inner">
					<% _.each(bill.custom_events, function(e) { %>
						<li><strong><%= e.bill_id %> <%= e.action %></strong> on  <%= e.date.format('MMM DD, YYYY') %>: <%= e.description %></li>
					<% }) %>
				</ul>
			</div>
		<% } %>

		<% if (_.isObject(bill.bill_conference)) { %>
			<div class="conference-bill">
				<div class="conference-bill-inner">
					<%= templates.osbill({
						title: 'Conference Bill',
						bill: bill.bill_conference.toJSON(),
						templates: templates
					}) %>
				</div>
			</div>
			
			<a class="expand-other-bills" href="#">Show other bills</a>
		<% } %>
		
		<div <% if (_.isObject(bill.bill_conference)) { %>class="has-conference-bill"<% } %>>
			<% if (_.isObject(bill.bill_primary)) { %>
				<div class="primary-bill <% if (_.isObject(bill.bill_companion)) { %>with-companion<% } %>">
					<div class="primary-bill-inner">
						<%= templates.osbill({
							title: (LT.options.chamberLabel) ? LT.utils.translate('chamber', bill.bill_primary.get('chamber')) + ' Bill' : 'Primary Bill',
							bill: bill.bill_primary.toJSON(),
							templates: templates
						}) %>
					</div>
				</div>
			<% } %>
			
			<% if (_.isObject(bill.bill_companion)) { %>
				<div class="companion-bill">
					<div class="companion-bill-inner">
						<%= templates.osbill({
							title: (LT.options.chamberLabel) ? LT.utils.translate('chamber', bill.bill_companion.get('chamber')) + ' Bill' : 'Companion Bill',
							bill: bill.bill_companion.toJSON(),
							templates: templates
						}) %>
					</div>
				</div>
			<% } %>
		</div>
	</div>

</section>