// VARIABLES
$grid-width         : 100% !default; // Percentage of container width
$grid-margin        : 2% !default;  // Grid cell margin
$grid-padding       : 4px !default;     // Grid cell padding

// MIXIN
@mixin column-span($column-span) { 

    $grid-width         : 100%;
    $total-col-width    : $grid-width / $column-span; 
    $col-width          : $total-col-width - ($grid-margin);

    @include box-sizing(border-box);
    float: left;
    width: $col-width; 
    //padding: $grid-padding; // element padding should be applied to element instead of block
    margin: 0 0 $grid-margin;
    margin-left: $grid-margin; // must assign -$grid-margin to parent element
    &:nth-child(#{$column-span}n+#{$column-span+1}) {
        clear: both;
    }
}